body{
	margin:0px;
}
.container{
	height: 600px;
	width: 100%;
	/*max-width: 2000px;*/
}

.lightblue{
	background-color: #8CCFFF;
	display: flex;
	flex-direction: column;
	padding: 20px;
	transition: 0.4s;
	align-items: center;
	justify-content: space-around;
}
.image{
	height: 300px;
	width: 300px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.4s;
	box-shadow: 0px 0px 50px #2B8FED;
	/*border: solid 1px black;*/
}
.about {
	font-family: 'Arvo', serif;
	font-size: 40px;
	display: flex;
	flex-direction: column;
	text-overflow: break-word;
	transition: 0.4s;
	justify-content: space-evenly;
	align-items: center;
	padding: 5px;
	text-align: center
	/*color: white;*/
}
.blue{
	background-color: #2B8FED;
	display: flex;
	flex-direction: row;
	transition: 0.4s;
	align-items: center;
	justify-content: space-around;
}
.skills{
	display: flex;
	flex-direction: column;
	transition: 0.4s;
	align-items: center;
	/*border: solid 1px black;*/
	padding: 10px;
	/*background-color: white;*/
}

.s1{
	grid-area: C;
	background-color: #7EF9FF;
	font-size: 25px;
	transition: 0.4s;
	transition: 0.4s;
	justify-content: space-between;
	border-top-left-radius: 50px;
	/*border-top-right-radius: 50px;*/
}
.s2{
	grid-area: Python;
	font-size: 20px;
	flex-direction: column;
	justify-content: flex-start;
	transition: 0.4s;
	background-color: #008081;
}
.s3{
	grid-area: Bash;
	background-color: #0F52BA;
	transition: 0.4s;
	font-size: 25px;
	justify-content: flex-start;
}
.s4{
	grid-area: HTML;
	background-color: #003152;
	/*border-bottom-left-radius: 50px;*/
	font-size: 25px;
	transition: 0.4s;
	justify-content: flex-start;
}
.s5{
	grid-area: CSS;
	background-color: #4114C9;
	font-size: 25px;
	transition: 0.4s;
	justify-content: flex-start;
}
.s6{
	grid-area: SQL;
	background-color: #410091;
	font-size: 25px;
	transition: 0.4s;
	justify-content: flex-start;
	border-bottom-right-radius: 50px;
}
.s7{
	grid-area: JS;
	background-color: #000080;
	font-size: 25px;
	transition: 0.4s;
	justify-content: flex-start;
}
.s8{
	grid-area: ReactJS;
	background-color: #000080;
	font-size: 25px;
	transition: 0.4s;
	justify-content: flex-start;
}
.s9{
	grid-area: Flutter;
	background-color: #000080;
	font-size: 25px;
	transition: 0.4s;
	justify-content: flex-start;
}
.s10{
	grid-area: Django;
	background-color: #000080;
	font-size: 25px;
	transition: 0.4s;
	justify-content: flex-start;
}
.skill-grid{
	display: grid;
	/*border: solid 1px black;*/
	grid-template:
	'C C C C C C ReactJS'
	/*'c1 c1 c1 c1 c1 c1'*/
	'JS JS JS JS JS Python Flutter'
	'Bash Bash Bash Bash CSS Python Django'
	'HTML HTML HTML HTML SQL SQL Django';
	transition: 0.4s;
	grid-gap: 0px;
	padding: 10px;
	height: 400px;
	width: 400px;
}
.skill{
	/*border: solid 1px black;*/
	padding: 25px;
	display: flex;
	align-items: center;
	transition: 0.4s;
	/*justify-content: flex-start;*/
	font-family: 'Arvo', serif;
}
.skill-heading{
	font-family: 'Arvo', serif;
	transition: 0.4s;
	font-size: 35px;
}
.ratings{
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.4s;
}
.ratings-bar{
	display: flex;
	flex-direction: column;
	padding: 15px;
	align-items: center;
	justify-content: space-around;
	transition: 0.4s;
	/*border: solid 1px black;*/
	/*height: 450px;*/
}
.sandr{
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: 0.4s;
	justify-content: space-evenly;
	/* width: 60%; */
	/* border: solid 1px black; */
}
.rating-out{
	display: flex;
	flex-direction: row;
	align-items: center;
	/*justify-content: flex-start;*/
	/*border: solid 1px black;*/
	font-family: 'Arvo',serif;
	padding: 15px;
	transition: 0.4s;
	width: 200px;
}
.rating{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	transition: 0.4s;
	/*border: solid 1px black;*/
	justify-content: center;
}
#pro{
	background-color: #D6D6D6;
}
#semipro{
	background-color: #8C918D;
}
#intermediate{
	background-color: #524C4B;
}
#beginner{
	background-color: #000000;
	color: white;
}
.skill:hover{
	transition: 0.4s;
	background-color: gold;
}
.sandp{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	transition: 0.4s;
	/*border: solid 1px black;*/
}
.projects{
	/*border: solid 1px black;*/
	transition: 0.4s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.project-grid{
	display: flex;
	flex-direction: row;
	padding: 15px;
	flex-wrap: wrap;
	transition: 0.4s;
	align-items: center;
	justify-content: space-around;

}
.project{
	padding: 15px;
	width: 300px;
	font-family: 'Arvo', serif;
	transition: 0.4s;
}
/*.project:hover{
	transition: 0.4s;
	width: 325px;
}*/
.project-heading{
	font-family: 'Arvo',serif;
	transition: 0.4s;
	font-size: 35px;
}
/*.darkblue{
	background-color: #002D57; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-family: 'Arvo', serif;
	padding: 20px;
}
.interest-heading{
	font-size: 45px;
	color: white;
}
.interests{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border: solid 1px black;
}
.interests div{
	width: 250px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: 0.4s;
	justify-content: flex-end;
	box-shadow: 0px 0px 50px black;
}*/
/*.interests div:hover{
	width: 275px;
	height: 275px;
	transition: 0.4s;
}*/
/*#cyber{
	background-image: url("../img/cyber.png");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
#football{
	background-image: url("../img/football.png");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
#binge{
	background-image: url("../img/binge.png");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
#webd{
	background-image: url("../img/webd.png");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
.sections{
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: 0.4s;
	justify-content: space-around;
}
.sections div{
	width: 200px;
	height: 200px;
	box-shadow: 0px 0px 50px black;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	transition: 0.4s;
}
.sections div:hover{
	width: 225px;
	height: 225px;
	transition: 0.4s;
}
@media only screen and (max-width: 1200px){
	.interests{
		flex-direction: column;
	}
	.sections div{
		height: 175px;
		transition: 0.4s;
		width: 175px;
	}
	.sections div:hover{
	width: 200px;
	height: 200px;
	transition: 0.4s;
}
	.interest-heading{
		transition: 0.4s;
		font-size: 40px;
	}
}
@media only screen and (max-width: 900px){
	.darkblue{
		transition: 0.4s;
		height: auto;
	}
	.sections{
		transition: 0.4s;
		margin-top: 20px;
	}
	.sections div:hover{
	width: 150px;
	height: 150px;
	transition: 0.4s;
}
	.sections div{
		height: 130px;
		transition: 0.4s;
		width: 130px;
	}
	.interest-heading{
		transition: 0.4s;
		font-size: 30px;
	}
	#cyber span, #binge span, #webd span, #football span{
		font-size: 15px;
		transition: 0.4s;
		text-overflow: break-word;
	}
}
@media only screen and (max-width: 620px){
	.sections{
		transition: 0.4s;
		flex-direction: column;
	}
}*/
@media only screen and (max-width: 1600px){
	.blue{
		flex-direction: column;
		transition: 0.4s;
		height: auto;
	}
}
@media only screen and (max-width: 950px){
	.project{
		width: 260px;
		transition: 0.4s;
		font-size: 
	}
	#shellimg, #flutterimg, #blogimg, #mernimg{
		height: 140px;
		transition: 0.4s;
	}
	.cardh{
		transition: 0.4s;
		font-size: 20px;
	}
	.skill-heading,.project-heading{
		font-size: 30px;
		transition: 0.4s;
	}
	.skill-grid{
		height: 275px;
		width: 275px;
		transition: 0.4s;
	}
	.s1,.s3,.s4,.s5,.s6,.s7{
		transition: 0.4s;
		font-size: 16px;
	}
	.s2{
		transition: 0.4s;
		font-size: 15px;
	}
	.skill{
		transition: 0.4s;
		padding: 18px;
	}
	.rating{
		height: 20px;
		width: 20px;
		transition: 0.4s;
	}
	.rating-out{
		padding: 5px;
		transition: 0.4s;
		width: 150px;
	}
	.rating-out p{
		transition: 0.4s;
		font-size: 12px;
	}
	.about{
		font-size: 30px;
		transition: 0.4s;
	}
	.image{
		height: 250px;
		transition: 0.4s;
		width: 250px;
	}
	.lightblue{
		transition: 0.4s;
		height: 500px;
	}
}
@media only screen and (max-width: 550px){
	.sandr{
		transition: 0.4s;
		flex-direction: column;
	}
	.ratings-bar{
		transition: 0.4s;
		flex-direction: row;
	}
	.rating-out{
		flex-direction: column;
		width: 80px;
		transition: 0.4s;
	}
	.about{
		font-size: 18px;
		transition: 0.4s;
	}
	.image{
		height: 200px;
		width: 200px;
		transition: 0.4s;
	}
}
@media only screen and (max-width: 700px){
	.about{
		font-size: 22px;
		transition: 0.4s;
	}
}