body{
	margin:0px;
}
.container{
	height: 600px;
}
.lightblue{
	background-color: #8CCFFF;
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
	justify-content: space-around;
}
.image{
	height: 300px;
	width: 300px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0px 0px 50px #2B8FED;
}
.about {
	font-family: 'Arvo', serif;
	font-size: 40px;
	/*color: white;*/
}
.blue{
	background-color: #2B8FED;
}
.darkblue{
	background-color: #002D57; 
}